/*most of the mobile phone css*/
@media (min-width: 280px) and ( max-width: 320px){

	/*css start*/
	.inner-banner .title{
		font-size: 34px;
	}
	.inner-banner .text i {
		font-size: 18px;
	}
	.inner-btnp p{
		font-size: 12px;
	}
	.let{
		padding: 25px 0px;
	}
	.let .inner-let .title{
		font-size: 35px;
	}
	.let .inner-let .text{
		font-size: 10px;
	}
	.discount .inner-discount2 .card-title{
		font-size: 30px;
	}
	.discount .inner-discount2 .card-text {
		font-size: 10px;
	}
	.discount .inner-discount img {
		padding: 20px 0px;
	}
	.hiking .inner-hiking h4{
		font-size: 25px;
	}
	.hiking .inner-hiking p{
		font-size: 9px;
	}
	.hiking .inner-hiking{
		margin: 148px 0px 0px 0px;
	}
	.explore .inner-explore h3{
		font-size: 35px;
		margin: 50px 0px 0px 0px;
	}
	.heare .inner-title{
		margin: 91px 0px 0px 0px;
	}
	.deitels .inner-deitels{
		padding: 20px 0px;
	}
	.paragarp .inner-paragarp p{
		font-size: 13px;
	}
	.footer .inner-footer p{
		font-size: 10px;
	}
	.footer .col-lg-2{
		padding: 30px 10px;
	}

	/*css end*/
}
@media (min-width: 321px) and ( max-width: 480px){
/*css start*/
	.inner-banner .title {
    	font-size: 37px;
	}
	.inner-banner .text i{
		font-size: 17px;
	}
	.let{
		padding: 0px 0px;
	}
	.let .inner-let .title {
		font-size: 45px;
	}
	.let .inner-let .text{
		font-size: 13px;
	}
	.discount .inner-discount2 .card-title{
		font-size: 36px;
	}
	.discount .inner-discount img{
		margin: 27px 0px 0px 35px;
	}
	.hiking .inner-hiking{
		margin: 188px 0px 0px 0px;
	}
	.hiking .inner-hiking h4{
		font-size: 27px;
	}
	.hiking .inner-hiking p{
		font-size: 11px;
	}
	.explore .inner-explore h3{
		font-size: 44px;
		margin: 48px 0px 0px 0px;
	}
	.deitels .inner-deitels{
		font-size: 41px;
		margin: 67px 0px 0px 0px;
	}
	.heare .inner-title{
		margin: 100px 0px 0px 0px;
	}
	.footer .inner-footer p{
		margin: 30px 0px;
	}
	.col-lg-2{
		padding: 20px 0px;
	}

	/*css end*/

}

/*most of the mobile low regulation tablet, mobile phone css*/
@media (min-width: 481px) and ( max-width: 767px){
/*css start*/
	.inner-banner .title{
		font-size: 55px;
	}
	.let {
		padding: 80px 123px;
	}
	.discount .inner-discount img{
		padding-top: 45px;
	}
	.hiking .inner-hiking{
		margin: 183px 0px 0px 0px;
	}
	.explore .inner-explore h3{
		font-size: 50px;
		margin: 70px 0px 0px 0px;
	}
	.deitels .inner-deitels{
		padding: 35px 0px;
	}
	.footer .col-lg-2{
		padding: 30px 10px;
	}

/*css end*/

}

/*most of the ipad, tablet, notebook css*/
@media (min-width: 768px) and ( max-width: 1024px){
/*css start*/
	
	.discount .inner-discount img{
		padding: 30px 0px;
	}
	.hiking .inner-hiking{
		margin: 300px 0px 0px 0px;
	}
	.explore .inner-explore h3{
		 font-size: 57px;
	}
	.deitels .inner-deitels{
		padding: 25px 0px;
	}
	.heare .inner-title{
		margin: 253px 0px 0px 0px;
	}
	.footer .col-lg-2{
		padding: 30px 10px;
	}
/*css end*/

}
